<input
  [(ngModel)]="carName"
  type="text"
  placeholder="car name"
  class="form-control mb-4"
/>

<input
  [(ngModel)]="carYear"
  type="text"
  placeholder="car year"
  class="form-control mb-4"
/>

<button
  [disabled]="isDisabledAdding"
  class="btn btn-primary"
  (click)="addCar()"
>
  add car
</button>

<p *ngIf="isCarAdded; else errorStatus">Car added!</p>
<ng-template #errorStatus>
  <p>Car not added!</p>
</ng-template>


<hr>
<app-car
  *ngFor="let car of cars"
  [carItem]="car"
></app-car>
<hr>
